@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #1F2937;
  
    
    display: flex;
    box-sizing: border-box;
}
header>.navbar{
    display: inline-flex;
    /* border:  10px solid red; */
   
    justify-content: flex-start;
    width:100%;
    align-items: center;
    
}
header>.navbar>.nav-left{
    flex:1;
    /* border: 3px solid red; */
    font-size: 24px;
    color: #f9faf8;;
    padding-left:15%;
    display:inline-block;
}
header>.navbar>.nav-right{
    /* border: 3px solid blue; */
    flex:1;
    display:flex;
    justify-content: center;   
    padding:20px;
    color:white;
    
}
header>.navbar>.nav-right>span{
    /* border:3px solid white; */
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 5px;
}
.top{
    padding : 90px;
    padding-left: 150px;
    padding-right: 150px;
    display: inline-flex;
    background-color: #1F2937;
    /* border: 3px solid blue; */
    width : 100%;
    box-sizing: border-box;
}
.top>.top-block{
    flex:1;
    /* border: 3px solid red; */
    display : flex;
    flex-direction:column;
    justify-content: center;
}
.top>.top-block>#awesome{
    color: #F9FAF8;
    font-size: 48px ;
    font-weight: bolder;

}
.top>.top-block>#subtext{
    font-size:18px;
    color: #e5e7eb;


}
#signup{
    background-color: #3882f6;
    padding:8px;
    width:90px;
    border-radius: 5px;
    color: white;
    border:none;
}
.top-block>img{
    align-self: center;
    flex:1;
    padding:30px;
    height:200px;
    width:400px;
}
#subheader{
    text-align: center;
    padding:20px;
    font-size:24px;
    width: 100%;
    font-weight: bold;
    /* border: 3px solid red; */
    box-sizing: border-box;
}
.information-tab>#gallery{
    display: inline-flex;
    justify-content: space-evenly;
    padding:40px;
    padding-left: 90px;
    padding-right: 90px;
    width: 100%;
    /* border: 3px solid blue; */
    box-sizing: border-box;

}
.information-tab>#gallery>.gallery-item{
    display:flex;
    flex-direction: column;

}
.information-tab>#gallery>.gallery-item>img{
    height:90px;
    width:90px;
    /* border : 3px solid blue; */
    border-radius: 10px;
}
.information-tab>#gallery>.gallery-item>p{
    box-sizing: border-box;
    height:90px;
    width:90px;
}
.quote{

    background-color: #e5e7eb;
    box-sizing: border-box;
    width: 100%;
    padding: 150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.quote>#thequote{
    flex:1;
    font-size:36px;
    font-style: italic;
    /* border:3px solid red; */
    text-align: left;
}
.quote>#author{
    font-size: 18px;
    font-style:bold;
    text-align:right;
    margin-top:-30px;
    /* border: 3px solid blue; */
}
.bottom{
    padding : 90px;
    padding-left: 150px;
    padding-right: 150px;
    display: inline-flex;
    background-color:  #3882f6;
    /* border: 3px solid blue; */
    width : 100%;
    box-sizing: border-box;
    background-clip: content-box;
    
}
.bottom>.calltoaction{
    padding:50px;
    display:flex;
    flex:2;
    flex-direction: column;
    /* border: 3px solid red; */
}
.bottom>.calltoaction>#calltext{
    color:white;
    font-size: 18px;
    font-style:bold;

}
.bottom>.calltoaction>#callsub{
    color:white;
    margin-top: -10px;
    font-size: 12px;
}
.bottom>.callbutton{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid blue; */

}
.bottom>.callbutton>button{
    background-color: #3882f6;
    padding:8px;
    width:90px;
    border-radius: 5px;
    color: white;
    border:2px solid white;
}
.footer{
    background-color: #1F2937;
    text-align: center;
    color:white;
    font-size: 12px;
    box-sizing: border-box;
    height:60px;
    width: 100%;
    padding: 20px;
}